@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

input[type='search']{
    border-radius: 2px;
    width: 150px;
}
@media (max-width: 624px) {
    input[type='search']{
        width: 70px;
    }
}
input[type='search']:focus{
    outline: none;
}
.logotext{
    color: #1B9EC2;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.search-img{
    border-bottom: 2px white solid;
}
.search-img-text{
    color: #025B;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    font-weight: 1000;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background: #020C24;
    display: none;
    position: absolute;
    min-width: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 1px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

.search-dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-searched-content {
    background: #122038;
    border-radius: 3px;
    color: black;
    display: none;
    position: absolute;
    min-width: 420px;
    /*max-width: 450px;*/
    max-height: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
    margin-top: 17px;
    padding: 12px 16px;
    left: -120px;
    z-index: 1;
    overflow: scroll;
}

@media (max-width: 638px) {
    .dropdown-searched-content {
        left: -200px;
    }
}
@media (max-width: 552px) {
    .dropdown-searched-content {
        left: -260px;
    }
}

.dropdown-searched-content::-webkit-scrollbar {
    display: none;
}

.dropdown:hover, .home-link__isActive:hover, .dropdown-content div div:hover{
    background: #018AB6;
    border-radius: 2px;
}

.custom-dropdown-container-hamburger-menu{
    position: relative;
    font-family: Arial, sans-serif;
}

.dropdown-header-hamburger-menu, .dropdown-list-hamburger-menu {
    text-align: center;
}

.dropdown-header-hamburger-menu {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list-hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 5px 0 0 0;
    padding: 10px;
    border-radius: 4px;
    background-color: #122038;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-list-item-hamburger-menu {
    border-bottom: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.dropdown-list-item-hamburger-menu:hover {
    background-color: #018AB6;
}

.dropdown-list-hamburger-menu .dropdown-content {
    min-width: 430px;
    left: -170px;
    top: 22px
}
.dropdown-list-hamburger-menu:hover .dropdown{
    display: block;
}

.custom-dropdown-container-search{
    position: relative;
    font-family: Arial, sans-serif;
}
.dropdown-header-search {
    padding: 10px;
    cursor: pointer;
}
.dropdown-content-search{
    height: 50px;
    position: absolute;
    padding: 12px;
    top: 50px;
    right: -100px;
    width: 75vw;
    margin: 5px 0 0 0;
    background-color: #020C24;
    border-top: 2px solid black;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1.5);
}
.dropdown-content-search input[type='search']{
    width: 70vw;
}
.dropdown-content-search .dropdown-searched-content{
    min-width: 75vw;
    max-height: 520px;
    margin-top: 20px;
    left: -12px;
}