.genreTitle{
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    color: #018AB6;
}
@media (max-width: 1346px){
    .movie-list-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1117px){
    .movie-list-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 835px){
    .movie-list-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 672px){
    .header-movie-list{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .header-movie-list > div{
        width: 100%;
        justify-content: space-between;
    }
}
@media (max-width: 574px){
    .movie-list-container{
        grid-template-columns: 1fr
    }
}